main{
  display: flex;
  justify-content: center;
  align-items: center;
}

main>div{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-left: 0.2em solid #F9BA32 !important;
  border-radius: 5px;
  display: flex;
  padding: 4vh 2vw;
  align-items: center;
}

main>div>img{
  height: 14em;
}

main>div>form{
  margin-left: 2vw;
  display: flex;
  flex-wrap: wrap;
  width: 20vw;
}

main>div>form>div{
  flex-basis: 100%;
  display: flex;
  margin-bottom: 2em;
  justify-content: center;
}

main>div>form>div>ion-icon{
  background-color: #F9BA32;
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  margin-right: 0 !important;
  color: white;
}

main input[type=text], main input[type=password], main input[type=email]{
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border: 1px solid #f9ba32;
  transition: box-shadow 0.4s;
  width: 100%;
}

main input[type=text]:hover, main input[type=password]:hover, main input[type=text]:focus, main input[type=password]:focus, main input[type=email]:hover, main input[type=email]:focus{
  box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}

main button[couleur=validation]{
  flex-basis: 100%;
  margin-right: 0 !important;
}

main>div>form a{
  color: #2f3131;
  margin-top: 1em;
}
