main>section>ul>li>section>p:nth-child(2n){
  overflow: hidden;
  height: 1.3em;
  flex: 1;
  padding-right: 2em;
}

main>section>ul{
  flex-basis: 100%;
  margin: 2em;
}

main>section>ul>p:nth-child(2){
  display: flex;
  align-items: center;
  justify-content: center;
}

main>section>ul>p:nth-child(2)>button{
  margin: 0 0.2em;
  padding: 0.2em;
}

main>section>ul>p{
  text-align: center;
}

/* ICONES DE LISTE */
main>section>ul>li>ion-icon{
  color: #b2b6b7;
  transition: color 0.5s;
}

main>section>ul>li>ion-icon:hover{
  cursor: pointer;
  color: black;
}
