/* gère seulement l'apercu de la page modifier-sceanrio.html */

/* contient l'apercu du scenario et les outils pour le modifier */
main>section{
    display: flex;
    flex-wrap: nowrap;
}

main>section>section{
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
}

main>section>section>section:first-child{
  height: 85%;
  flex-basis: 100%;
}

main>section>section>section:nth-child(0n+2){
  display: flex;
  padding: 0.5em;
  border: 1px solid #e3e6f0;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: 60vw;
  margin: 1em;
}

main>section>section>section:nth-child(0n+2)>ul{
  display: flex;
  overflow: auto;
  width: inherit;
  padding: 0.5em;
  scroll-behavior: smooth;
}

main>section>section>section:nth-child(0n+2)>ul>button{
  white-space: nowrap;
}

main>section>section>section:nth-child(0n+2) ion-icon{
  cursor: pointer;
  color: grey;
}

/* ASIDE */
main>section>aside{
  border-left: 0.2em solid #F9BA32;
  border-radius: 5px;
  display: table;
  width: min-content;
}

main>section>aside>form{
  padding: 1em;
}

#outils, main>section>aside>form>ul>li>ul{
  display: flex;
  align-items: center;
}

#outils>ion-icon, main>section>aside>form>ul>li>ul>ion-icon{
  flex: 1;
  padding: 0.2em;
  border-radius: 5px;
}

#outils>ion-icon[selected]{
  background-color: white !important;
  color: black !important;
}

#outils>ion-icon:hover, main>section>aside>form>ul>li>ul>ion-icon:hover{
  cursor: pointer;
  background-color: #d3d3d378;
}

main>section>aside textarea{
  resize: vertical;
  width: 100%;
}

main>section>aside select{
  width: 100%;
}

main>section>aside p{
  display: flex;
  align-items: center;
  margin-bottom: 0.2em;
}

main>section>aside>form>p{
  text-align: center;
}

main>section>aside h2{
  text-align: center;
  margin: 0.5em 0;
  border: 1px solid white;
  border-radius: 5px;
  white-space: nowrap;
  padding: 0 0.2em;
}

main>section>aside>form>ul>li>div{
  background-color: white;
  margin: 0.5em 0 !important;
  width: inherit !important;
  padding: 0 !important;
}

main>section>aside>section{
  display: flex;
  padding: 1em;
  justify-content: space-between;
}

main>section>aside>section>button{
  margin: 0;
}

main>section canvas{
  border-radius: 5px;
}

/* AJOUT DE STYLE POUR LES MODALS */
#modal1>section>div{
  display: flex;
  align-items: center;
  border: 1px solid lightgrey;
  border-radius: 5px;
  justify-content: center;
  color: grey;
}

#modal1>section>div>p{
  flex: 1;
  border-left: 1px solid lightgrey;
  margin: 0;
  padding: 0.5em;
}

#modal1>section>section>h3{
  text-align: center;
  flex: 1;
  color: #476e86;
}

#modal1>section>ul{
  border: 1px solid lightgrey;
  border-radius: 5px;
  overflow: auto;
  max-height: 50vh;
}

#modal1>section>ul>p{
  text-align: center;
  color: black;
}

#modal1>section>ul>li{
  border-bottom: 1px solid lightgrey;
  padding: 1em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#modal1>section>ul>li:last-child{
  border: none;
}

#modal1>section>ul>li>input{
  flex: 1;
  border: 1px solid transparent;
  padding: 0.5em;
}

#modal1>section>ul>li>input:focus{
  border: 1px solid lightgrey;
}

#modal1>section>ul>li ion-icon{
  color: lightgrey;
  cursor: pointer;
  transition: color 0.2s;
}

#modal1>section>ul>li ion-icon:hover{
  color: grey;
}

#modal1>section>ul>li>div>div>img{
  height: 2.5em;
  border-radius: 5px;
  margin: 0 0.5em;
  cursor: pointer;
}

#modal1>section>ul>li>div>div:first-child{
  flex: 1;
}

#modal1>section>ul>li>div>div{
  display: flex;
  align-items: center;
}

#modal1>section>ul>li>div>div>div{
  margin: 0.2em 0 !important;
}

#modal1>section>ul>li>div{
  flex-basis: 100%;
  display: flex;
  justify-content: flex-end;
}

#modal1>section>ul>li>div>select{
  margin-top: 0.5em;
  width: inherit;
}

#modal1>section>ul>li>div>div:nth-child(2){
  border-left: 2px solid lightgray;
  border-bottom: 2px solid lightgray;
  height: 1em;
  margin-right: 1em;
  color: grey;
  padding: 0.5em;
  border-bottom-left-radius: 5px;
}

/* MODAL 2 */
#modal2>section>ul{
  display: flex;
  width: max-content;
}

#modal2>section>ul>li{
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 1em;
  padding: 1em;
}

#modal2>section>ul>li>section:first-child{
  height: max-content;
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
}

#modal2>section>ul>li>section:first-child>h2{
  margin: 0.5em;
}

#modal2>section>ul>li>section:nth-child(2){
  display: flex;
  align-items: center;
  justify-content: center;
  height: min-content;
  flex-wrap: wrap;
}

#modal2>section>ul>li:nth-child(2)>section:nth-child(2){
  flex-direction: column;
}

#modal2>section>ul>li:first-child>section>button:nth-child(3){
  margin: 0 2rem;
}


#modal2>section>form>div{
  display: flex;
  justify-content: center;
}

#modal2>section>form>select{
  width: 100%;
}

#modal2>section>form>div>p{
  border-radius: 5px;
  color: white;
  padding: 0.2em;
}


#modal2>section>ul>li>section>form input, #modal2>section>ul>li>section:nth-child(2)>div>label, #modal2>section>ul>li>section:nth-child(2)>div>h4{
  width: 100%;
}

#modal2>section>ul>li>section:nth-child(2)>form, #modal2>section>ul>li>section:nth-child(2)>section{
  display: flex;
  flex-direction: column;
  flex: 1;
}

#modal2>section>ul>li>section:nth-child(2)>div{
  display: flex;
  flex-direction: column;
  width: 100%;
}

#modal2>section>ul>li>section:nth-child(2)>div>button{
  width: max-content;
}

#modal2>section>ul>li>section:nth-child(2)>form>label, #modal2>section>ul>li>section:nth-child(2)>div>label{
  margin: 1em 0 0.5em 0;
}

#modal2>section>ul>li>section:nth-child(2)>form>div{
  margin: 1em 0 0.5em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#modal2>section>ul>li>section:nth-child(2)>h4{
  flex-basis: 100%;
  color: grey;
}

#modal2>section>ul>li>section:nth-child(2)>form>img{
  height: 20vh;
  width: 20vh;
  border: 1px solid lightgrey;
  border-radius: 5px;
  align-self: center;
}


#modal2>section>ul>li>section>ul{
  display: flex;
  width: 100%;
  flex-direction: column;
}

#modal2>section>ul>li>section>ul>li{
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 0.5em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.2em;
}

#modal2>section>ul>li>section>ul>li>p{
  flex: 1;
}

#modal2>section>ul>li>section>ul>li>ion-icon{
  color: grey;
  cursor: pointer;
}


#modal2>section>section:nth-child(2){
  flex-direction: column;
}

#modal2>section>section:nth-child(2)>ul{
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

#modal2>section>section:nth-child(2)>ul>li{
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 0.2em;
}

#modal2>section>section:nth-child(2)>ul>li:nth-child(2)>ion-icon:hover{
  cursor: pointer;
  animation: rotation 2s linear infinite;
}

@keyframes rotation{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

/* MODAL3 et MODAL4*/
#modal3>section>ul, #modal4>section>form>ul{
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

#modal3>section>ul>li, #modal4>section>form>ul>li{
  display: flex;
  align-items: center;
  padding: 0.5em;
  border-bottom: 1px solid lightgrey;
}

#modal3>section>ul>li:last-child, #modal4>section>form>ul>li:last-child{
  border-bottom: none !important;
}

#modal3>section>ul>li>ion-icon, #modal4>section>form>ul>li>ion-icon, #modal2>section>ul>li>section>ul>li>ion-icon:nth-child(3){
  cursor: pointer;
  flex-basis: 10%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  color: grey;
}

#modal3>section>ul>li>section{
  display: flex;
}

#modal3>section>ul>li>section>*, #modal4>section>form>ul>li>p{
  flex: 1;
  margin: 0 1em;
  white-space: nowrap;
}
