main>section>form{
  display: flex;
  justify-content: center;
  margin-top: 5em;
}

main>section>form>div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2em;
}

main>section>form input{
  margin-left: 1em;
}

main>section>form>div>label>img{
  height: 15em;
  width: 15em;
  border-radius: 50%;
  box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}

.form-group{
  display: flex;
  align-items: center;
}

.form-group>label{
  flex: 1;
}

.has-errors li{
  color: red;
}

.image{
  opacity: 1;
  transition: .5s ease;
}

#formulaire_profil>div>label{
  display: flex;
  align-items: center;
  justify-content: center;
}

#formulaire_profil>div>label:hover .image{
  opacity: 0.3;
  cursor: pointer;
}

#formulaire_profil>div>label:hover ion-icon{
  opacity: 1;
  cursor: pointer;
}

#formulaire_profil>div>label ion-icon{
  opacity: 0;
  transition: .5s ease;
  position: absolute;
  background-color: #333;
  color: white;
  padding: 0.5em;
  border-radius: 100%;
}

input[readonly]{
  background-color: lightgrey;
}
