{% extends 'header-footer.html' %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bleu.css') }}" id="theme">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/decouvrir.css') }}" />
  <title>Découvrir</title>
{% endblock %}

{% block header_titre %}
  <h3 id='header-titre'>Découvrir Math'Scape</h3>
{% endblock %}

{% block header_liens %}
  <li><a href="connexion"><ion-icon name="log-in" size="small"></ion-icon>Connexion</a></li>
{% endblock %}

{% block main %}
  <h1>Qu'est-ce que Math'Scape ?</h1>
  <ul id="app">
    <ion-icon name="arrow-back-circle-outline" size="large" onClick="sp.prev()"></ion-icon>
    <li class="sp_page"><section><h1>Escapes games</h1><p>Les escapes games sont créés par vos professeurs</p></section></li>
    <li class="sp_page"><section><h1>Groupes</h1><p>Participez en équipe pour arriver à résoudre les énigmes</p></section></li>
    <li class="sp_page"><section><h1>Avancée</h1><p>Consutez l'avancée de chacun de vos escapes games</p></section></li>
    <li class="sp_page"><section><h1>Inscription</h1><p>Pas besoin de vous inscrire, on vous connait déjà</p></section></li>
    <li class="sp_page"><section><h1>Statistiques</h1><p>Vos professeurs peuvent consulter votre avancée à tout moment</p></section></li>
    <li class="sp_page"><section><h1>Un problème ?</h1><p>Parlez-en à vos professeurs, ils peuvent sûrement vous aider</p></section></li>
    <ion-icon name="arrow-forward-circle-outline" size="large" onClick="sp.next()"></ion-icon>
  </ul>

  <script type="text/javascript" src="{{ url_for('static', filename='js/slidepage.min.js') }}"></script>
  <script>
      var sp = new SLIDEPAGE({
          el: "#app",
          repeat: true
      });

      function autoSlide(){
        sp.next();
        setTimeout(autoSlide, 5000); /* rappel après 5 secondes = 5000 millisecondes */
      }
      autoSlide();
  </script>
  <div>
    <ul id="integration-list">
      <li><ion-icon name="lock-open" size="large" style="transform:translate3d(90.5167px, 173.636px, 0px);"></ion-icon></li>
      <li><ion-icon name="hourglass-outline" size="large" style="transform:translate3d(-164.408px, 236.022px, 0px);"></ion-icon></li>
      <li><ion-icon name="camera" size="large" style="transform: translate3d(-538.464px, 232.741px, 0px);"></ion-icon></li>
      <li><ion-icon name="bulb-outline" size="large" style="transform: translate3d(-902.604px, 128.921px, 0px);"></ion-icon></li>
      <li><ion-icon name="eye" size="large" style="transform: translate3d(-971.051px, 195.731px, 0px);"></ion-icon></li>
      <li><ion-icon name="finger-print" size="large" style="transform: translate3d(-1447.05px, 203.538px, 0px);"></ion-icon></li>
      <li><ion-icon name="flashlight" size="large" style="transform: translate3d(-1470.41px, 247.103px, 0px);"></ion-icon></li>
      <li><ion-icon name="images" size="large" style="transform: translate3d(1572.66px, 234.104px, 0px);"></ion-icon></li>
      <li><ion-icon name="newspaper" size="large" style="transform: translate3d(1479.86px, 57.1797px, 0px);"></ion-icon></li>
      <li><ion-icon name="search" size="large" style="transform: translate3d(1069.33px, 95.4296px, 0px);"></ion-icon></li>
      <li><ion-icon name="stopwatch-outline" size="large" style="transform: translate3d(781.488px, 139.057px, 0px);"></ion-icon></li>
      <li><ion-icon name="text" size="large" style="transform: translate3d(611.732px, 107.107px, 0px);"></ion-icon></li>
      <li><ion-icon name="school" size="large" style="transform: translate3d(474.98px, 208.122px, 0px);"></ion-icon></li>
    </ul>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
  <script src="{{ url_for('static', filename='js/decouvrir-animation.js') }}"></script>
{% endblock %}
