{% extends 'accueil-prof.html' %}

{% block head_suplementaire %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/statistiques.css') }}">
{% endblock %}

{% block title %}
  <title>Statistiques</title>
  <script>
    
    function visibilite(thingId)
    {
      var targetElement;
      targetElement = document.getElementById(thingId) ;
      if (targetElement.style.display == "none"){
        targetElement.style.display = "" ;
      }
    } 

    function afficheStatistiques(thingId)
    {
      var esc = document.getElementById('escapeg').value;
      var select = document.getElementById('select').value;
      //nbPoints = recup le nb de points max du groupe;
      visibilite(thingId);
    }

    
  </script>
{% endblock %}

{% block contenu_onglet %}
<div id=gauche>
  <h2>
    Escape game
  </h2>
  <select id= "escapeg" class="sele" name="nom" size="4">
	{% for escape in escapes %}
        	<option onClick="location.href='/statistiques/{{ escape.id }}';">{{ escape.nom }}</option>
	{% endfor %}
    </select>
</div>

{% endblock %}
